.container {
    padding: 40px;
    background: linear-gradient(222deg, rgba(43,40,55,1) 42%, rgba(61,38,38,1) 100%);
    border-radius: 20px;
    width: 750px;
    margin: 5% auto;
    min-height: 550px;
    font-family: Comic Sans MS;
    color: gainsboro;
}
.box_add_task {
    border: 2px solid #4a4950;
    padding: 5px 0px;
    border-radius: 5px;
    margin: 0 auto;
    background: linear-gradient(222deg, rgba(27,25,36,1) 42%, rgba(23,15,15,1) 100%);
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}
.menuItem {
    margin: 0 20px;
}
.is_invalid {
    background: #530f18;
    border: 2px solid #eb0423;
}
.button_add {
    margin: 0 10px;
    padding: 7px 11px;
    background: none;
    color: aliceblue;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        background-color: #c9c2c2;
        color: #4a4950;
    }
}
.error_message {
    text-align: left;
    color: #eb0423;
}
.box_datetime {
    letter-spacing: 6px;
    color: bisque;
}
.today {
    margin: 0;
    line-height: 15px;
    color: bisque;
}
.task_title {
    text-overflow: ellipsis;
    color: aliceblue;
    font-weight: bold;
    font-size: 17px;
    width: 50%;
    border: none;
    background: none;
    &:focus {
        outline: none;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        width: 80%;
        padding: 20px;
    }
}
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        width: 90%;
    }
}
